<html>
<head>
    <title>88888</title>
</head>
<body>
    <ul>
        <%arr.forEach(function(item){ %>
            <li>
                <a href="<%= item.href %>"><%= item.title %></a>                
            </li>
        <%})%>
    </ul>
    <p>4564</p>
</body>
</html>